footer
  .container.text-center
    p(align='center') © 2018 Aleph. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://github.com/Aiden-aiden/alephwebwallet', target='_blank') GitHub Project
      li
        a(href='http://alephmarket.io', target='_blank') Alephmarket.io
