extends layout

block content
  .page-header
    h1 Aleph Wallet
  p.lead A NodeJS/MongoDB powered Aleph Web Wallet. Send and Receive ALE from anywhere!
  hr
  .row
    .col-sm-6
      h2 Fast & Secure
      p This online wallet is powered upon NodeJS/MongoDB running in conjunction with a Aleph Full Node, allowing access to the speeds and power of the Aleph blockchain.
      p
        if user
        else
          a.btn.btn-default(href='/signup', role='button') Sign Up! »
    .col-sm-6
      h2 What is Aleph?
      p Aleph is a cryptocurrency built upon the original Litecoin Core codebase. It features a Proof-Of-Work hashing algorithm called "Scrypt" and also features Proof-Of-Stake at 60% per year.
      p
        a.btn.btn-default(href='https://github.com/alephmarket/ALE', target='_blank', role='button') View Github »
